@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.bg_primary{
  background:#6f6fdb ;
}
.bg_secondary{
  background:#AF6BE8 ;
  background:#4e6199 ;
}


.home_gradient{
  background: rgb(37,99,235);
  background: linear-gradient(90deg, rgba(37,99,235,0.8) 36%, rgba(23,33,212,0.7988445378151261) 82%);
  }
