@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.bg_primary{
  background:#6f6fdb ;
}
.bg_secondary{
  background:#AF6BE8 ;
  background:#4e6199 ;
}


.home_gradient{
  background: rgb(175, 107, 232);
  background: linear-gradient(
    90deg,
    rgba(175, 107, 232, 0.8419700643929446) 20%,
    rgba(111, 111, 219, 0.8335667030484069) 76%
    );

    background: rgb(111,111,219);
    background: linear-gradient(90deg, rgba(111,111,219,0.7831465349811799) 33%, rgba(78,97,153,0.4161997562696954) 66%); 
  }
